:root {
    --primary-color: #f6c34e;
    --primary-text-color: #333333;

    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* global */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--color-white);
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: center;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.current__page {
    font-weight: bold;
}

/* header */
#header__nav a:hover {
    color: var(--primary-color);
}

#header__branding {
    background-color: var(--primary-color);
    color: var(--color-white);
    min-height: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 10px;
}

.branding__highlight {
    color: var(--primary-text-color);
}

#header__nav ul {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__nav li {
    padding: 0 40px 0 40px;
}

#header__nav a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-text-color);
}

/* showcase */
#showcase {
    min-height: 600px;
    background: url("../img/home-bg.jpg") no-repeat 0 -250px;
    box-shadow: inset 0 0 0 500px #29292986;
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    text-align: center;
}

.showcase__title {
    font-size: 120px;
}

/* about */
#about li:nth-of-type(odd) {
    background-color: #fff7e6;
}

#about li:nth-of-type(odd) p {
    text-align: right;
}

#about li:nth-of-type(odd) img {
    float: left;
}

#about li:nth-of-type(even) p {
    text-align: left;
}

#about li:nth-of-type(even) img {
    float: right;
}

#about .container {
    min-height: 450px;
    display: flex;
    align-items: center;
}

.about__info {
    width: 100%;
    padding: 0 25px;
    justify-content: center;
}

.about__info img {
    width: 497px;
    height: 400px;
    object-fit: cover;
}

/* tabbed */
#general-tabs input[type="radio"] {
    display: none;
}

.tabs .container {
    display: flex;
    justify-content: start;
    list-style: none;
    height: 40px;
    align-items: center;
    border-bottom: 1px var(--primary-color) solid;
}

.tabs label {
    padding: 20px;
    background-color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tab__content {
    margin: 30px 0;
    display: none;
}

/* #general-tabs
    input[type="radio"]:nth-of-type(1):checked
    ~ .tab__content:nth-of-type(1),
#general-tabs
    input[type="radio"]:nth-of-type(2):checked
    ~ .tab__content:nth-of-type(2),
#general-tabs
    input[type="radio"]:nth-of-type(3):checked
    ~ .tab__content:nth-of-type(3) {
    display: block;
}

#general-tabs
    input[type="radio"]:nth-of-type(1):checked
    ~ .tabs
    .tab:nth-of-type(1)
    label,
#general-tabs
    input[type="radio"]:nth-of-type(2):checked
    ~ .tabs
    .tab:nth-of-type(2)
    label,
#general-tabs
    input[type="radio"]:nth-of-type(3):checked
    ~ .tabs
    .tab:nth-of-type(3)
    label {
    color: #ffffff;
    background-color: #f6c44ecb;
    font-weight: bold;
} */

#tab1:checked ~ .tab__content1,
#tab2:checked ~ .tab__content2,
#tab3:checked ~ .tab__content3 {
    display: block;
}

#tab1:checked ~ .tabs .tab__1 label,
#tab2:checked ~ .tabs .tab__2 label,
#tab3:checked ~ .tabs .tab__3 label {
    color: var(--color-white);
    background-color: var(--primary-color);
    font-weight: bold;
}

.tab__info {
    padding: 50px;
}

.tab__tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tab__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile {
    background-color: var(--primary-color);
}

.tile:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.tile:nth-of-type(8) {
    grid-column: 2 /4;
    grid-row: 3 / 5;
}

.tile:nth-of-type(15) {
    grid-column: 3 /5;
    grid-row: 5 / 7;
}

.tile:nth-of-type(16) {
    grid-column: 1 /3;
}

.tile:nth-of-type(17) {
    grid-column: 3 /5;
    grid-row: 7 / 8;
}

/* footer */
footer {
    padding: 20px;
    margin-top: 20px;
    background: var(--color-white);
    text-align: center;
}

footer p {
    font-size: 15px;
}
